:root {
/*  --primaryColour: #a7ff3b; */
  --primaryColour: #f09678;
  --secondaryColour: #f6786a;
/*    --secondaryColour: #3b52ff; */
  --tertiaryColour: #f99965;
/*    --tertiaryColour: #ff3b43;*/
  
  --lightColour: rgb(251,211,211,0.1);
/*  --lightColour: #e2edff36; */  
  --black: #121212;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 50vh;
  margin: 5% auto;
}

a:hover {
  color: var(--primaryColour) !important;
  text-decoration: none !important;
  transition: .5s ease-in-out;
}




.nav-icon {
  width: 35px;
  position: relative;
  z-index: 5;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: var(--black);
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.nav-icon.active:before {
  transform: translateY(12px) rotate(135deg);
}

.nav-icon.active:after {
  transform: translateY(-12px) rotate(-135deg);
}

.nav-icon.active div {
  transform: scale(0);
}


.landing .section-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: var(--black);
}

@media all and (max-width: 768px) {
  .landing .section-title {
    font-size: 42px;
  }
}

.landing .content {
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
  letter-spacing: -1px;
}

.landing ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 2rem;
}

.landingL {
    padding: 2rem;
}
.landing ul li::before {
  content: "\2022";
  color: var(--primaryColour);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.landingR {
    padding: 1rem;
}

.landingR img {
  position: absolute;
  left: 0;
  z-index: 3;
  top: 80px;
}
.pill-button {
  background-color: var(--primaryColour);
  cursor: default;
  border: none;
  color: white;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight:bolder;
}

.home-page-body .navigation-header-wrap {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: .6s ease-in-out;
  z-index: 4;
}

.nav-background .navigation-header-wrap {
  background-color: white;
}

.home-page-body .navigation-header-wrap.ready{
  opacity: 1 !important;
  visibility: visible;
  transform: translateY(0);
}

.nav-background .navigation-header-wrap .navigation {
  margin: 10px 0;
}

.home-wrapper {
  margin: 0;
}

.first-section {
  opacity: 0;
  visibility: hidden;
  width:100%;
  height:100vh;
  background-color: var(--lightColour);
  border: 0 solid white;
  transition: .6s ease-in-out;
}

.first-section.ready {
  border-width: 30px;
  opacity: 1;
  visibility: visible;
}


.skills-section {
  margin: 10% 0;
  font-size: 18px;
  padding:3rem;
}

.skills-section .section-title {
  font-size: 62px;
  font-weight: 900;
  line-height: 60px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: var(--black);
}


.skills-section p {
    width: 80%;
    margin: auto;
    padding:2rem;
}


@media all and (max-width: 768px) {
  .skills-section .section-title {
    font-size: 42px;
  }
}

.skills-section .programs {
  margin: 0;
}

.skills-section .programs img {
  width: 40px;
  margin: 0 8px;
}

.work-section {
  position: relative;
  width: 70%;
  padding-right: 70px;
  margin: auto;
  margin-bottom: 8rem;
}

.work-section .workText {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  width: 100%;
  height: 100%;
  padding-top: 4%;
  z-index: 3;
}

.work-section .workText .title {
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--black);
}

.workText p {
    font-weight: 500;
}

@media all and (max-width: 767px) {
  .work-section .workText .title {
    font-size: 26px;
  }

  .work-section{
    width: 100%;
  }

  .skills-section p {
    width: 100%;
    padding: 2rem 0;
}
}

.view-more {
  color: var(--black);
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-decoration: none;
}

.work-section .workText .link ul {
  font-size: 32px;
  list-style: none;
  line-height: 40px;
  margin: 20px 0 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
}

@media all and (max-width: 487px) {
  .work-section .workText .link ul {
    font-size: 22px;
  }
}

.underline {
  content: '';
  display: block;
  width: 50px;
  height: 5px;
  background-color: var(--secondaryColour);
  float: right;
  margin: 2px 0 0;
}

.work-section .workText .link ul a {
  color: var(--black);
}

.work-section img {
    width: 100%;
    border-radius: 10px;
}

.work-section.alt {
    padding-left: 70px;
    padding-right: 0;
}

.work-section.alt .workText {
    text-align: left;
}

.work-section.alt .underline {
    float: none;
}

.work-section.alt .workText .link ul {
    right: initial;
    left: 0;
}

.work-section .project-image {
    position: relative;
}

.work-section .project-image:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 185, 145, 0.8);
    content: '';
    overflow: hidden;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.work-section:hover .project-image:after {
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-purple {
  margin: 0;
  padding: 4px 15px;
  background: #121212;
  color: white;
  height: 33px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid #121212;
}

.navigation {
  margin: 30px 0;
  transition: .3s ease-in-out;
}

.navigation .login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.navigation input[type="text"],
.navigation input[type="password"] {
  font-size: 13px;
  width: 130px;
  margin: 0 10px 0 0px;
  padding: 0 10px;
  line-height: 1.2;
  border: 1px solid #121212;
  color: var(--black);
  background: white;
  height: 35px;
  border-radius: 4px;
}

.navigation button,
.navigation .sign-up-btn {
  display: inline-block;
  margin: 0;
  padding: 4px 15px;
  background-color: var(--black);
  color: white;
  height: 33px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid #111111;
}

.navigation .alt.sign-up-btn {
  background: white;
  color: var(--black);
}

.navigation .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation .icons ul {
  font-size: 28px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation .icons ul li {
  display: inline-block;
}

.navigation .icons ul li a {
  color: var(--black);
  display: block;
  margin-right: 20px;
  font-size: 1.5rem;
}

.navigation .icons ul li a :hover{
  color: var(--primaryColour);
  transition: 0.5s;
}

.navigation .icons ul li:last-of-type a {
  margin-right: 0;
}

.navigation .icons ul li a img {
  width: 100%;
}

.navbar-brand img {
    max-width: 40px;
    margin: auto;
}

.navigation .navbar-nav li{
    float: right;
    text-align:right;
    padding: 0.25rem 0.75rem;
}

nav.navbar.navbar-expand-lg {
    padding: 0px;
}

a.nav-link {
    color: var(--black);
    font-weight: 700;
    margin-left:2rem;
}

a.nav-link:hover {
    color: var(--primaryColour);
    transition: 0.5s;
}

.navigation i.fa.fa-bars {
    font-size: 2rem;
}
/* Menu Miriam*/

.navbar {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.section-title{
  color: var(--secondaryColour);
}

.sidenav a {
  padding: 0 0 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.64px;
  line-height: 20px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav li:last-of-type a {
    padding-bottom: 0;
}

.sidenav a:hover {
  color: #ffffff !important;
}

.sidenav .closebtn {
    color: #ffffff;
    border: transparent;
    margin-top: 16px;
    padding: 0;
    background: transparent;
    font-size: 2.5rem;
    line-height: 22px;
}

.sidenav .sideMenu {
  padding-left: 30px;
}

.mobile-sidenav ul li a{
  color: var(--black);
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-size: 52px;
  font-weight: 900;
}


.mobile-sidenav ul li a:hover{
  color: white;
}

.mobile-sidenav-social {
  position:absolute;
  bottom:15px;
  opacity:0;
  transition:.4s ease-in-out;
  transition-delay: 0s;
  transform: translateY(-100%);
}

.mobile-sidenav-social.active {
  transition-delay: 1s;
  opacity:1;
  transform: translateY(0%);
}

.mobile-sidenav-social li {
  margin-right: 20px;
}

.mobile-sidenav-social li:last-of-type {
  margin-right: 0;
}

.mobile-sidenav-social li a {
  font-size: 28px !important;
}

.mobile-sidenav {
  width: 0px;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background: var(--primaryColour);
  overflow-x: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100vh;
}

.list-mobile-sidenav-items li {
    opacity: 0;
    transform: translateY(-20px) rotate3d(25, 0, 0, 90deg);
    transition: .2s ease-in-out;
}

.list-mobile-sidenav-items li.visible {
    opacity: 1;
    transform: translateY(0px) rotate3d(25, 0, 0, 0deg);
}

.sidenav a {
  padding: 5px 0px 5px 79px;
  text-decoration: none;
  color: var(--black);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mobile-sidenav ul li a:hover{
  -webkit-transition: 0.3;
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 20px;
}

.main-menu li a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.main-menu li a .logo {
  width: 60px;
}

.footer .footer-top {
  background: #131313;
  color: white;
  padding: 60px 0;
}

.footer .footer-top .widget {
  margin-bottom:30px;
}

.footer .footer-top .widget:last-of-type {
  margin-bottom:0;
}

.footer .footer-top ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-top a {
  font-weight: bold;
  color: #b3b3b3;
}

.footer .bottom-footer {
  text-align: center;
  margin: 0;
  padding: 15px 0;
  background: #1d1d1d;
  color: white;
  font-size: 14px;
  line-height: 1.2;
}

.footer .bottom-footer a {
  color: white;
}

.footer .bottom-footer .credits {
  color: #929292;
}

.footer .bottom-footer .credits a {
  color: #dcdcdc;
}

.footer .bottom-footer p {
  margin: 0;
}

.footer .widget .inner-widget .widget-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0 0 4px;
    border-bottom: 2px solid var(--secondaryColour);
    color: #ffffff;
}

.footer .widget .inner-widget .social-links {
  margin: 0 -15px;
  padding: 0;
  font-size: 18px;
}

.footer .widget .inner-widget .social-links li {
  display: inline-block;
  padding: 15px;
}

#footer p {
    color: white !important;
}

#footer a {
    color: white !important;
    text-decoration:none;
}

#footer a:hover {
    color: var(--primaryColour) !important;
    transition: 0.5s;
}

#footer i {
    color: white !important;
}

#footer strong {
    color: white !important;
}


.widget {
    padding: 0 3rem;
}


.social-links li {
    font-size: 2rem;
}

#footer a i:hover {
    color: var(--primaryColour) !important;
    transition: 0.5s ease-in-out;
}

.dashboard .login-status {
  margin: 0 0 40px;
}

.main-gallery .cols-row {
  column-count: 4;
  column-gap: 15px;
  overflow: hidden;
}

@media all and (max-width: 992px) {
  .main-gallery .cols-row {
    column-count: 2;
  }
}

@media all and (max-width: 481px) {
  .main-gallery .cols-row {
    column-count: 1;
  }
}

.main-gallery .cols-row .column {
  position: relative;
  break-inside: avoid;
}

.main-gallery .item {
  margin: 10px 0 20px;
  padding: 10px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.main-gallery .item a {
  display: block;
  text-decoration: none;
}

.main-gallery .item .picture {
  width: 100%;
  padding: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-gallery .item .picture .lock {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17 9.761v-4.761c0-2.761-2.238-5-5-5-2.763 0-5 2.239-5 5v4.761c-1.827 1.466-3 3.714-3 6.239 0 4.418 3.582 8 8 8s8-3.582 8-8c0-2.525-1.173-4.773-3-6.239zm-8-4.761c0-1.654 1.346-3 3-3s3 1.346 3 3v3.587c-.927-.376-1.938-.587-3-.587s-2.073.211-3 .587v-3.587zm3 17c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6zm2-6c0 1.104-.896 2-2 2s-2-.896-2-2 .896-2 2-2 2 .896 2 2z"/></svg>');
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 30px;
  background-color: #ffffffcc;
  background-size: 20px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-gallery .item .content {
  margin-top: 20px;
  border-top: 1px solid #EDEDED;
}

.main-gallery .item .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 0;
  color: black;
}

.main-gallery .item .desc {
  color: #424242;
  font-size: 14px;
}

.gallery-upload {
  background: #f8f1e5;
  width: 100%;
  max-width: 600px;
  margin: 60px auto 35px auto;
  padding: 30px;
  border-radius: 4px;
}

.gallery-upload h4 {
  margin-bottom: 20px;
}

.gallery-upload .field input[type="text"] {
  width: 100%;
  height: 40px;
  margin: 0 0 10px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.gallery-upload .field input[type="file"] {
  background: white;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.gallery-upload .field textarea {
  background: white;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.gallery-upload button {
  margin: 20px 0 0;
  padding: 4px 15px;
  background: #121212;
  color: white;
  height: 33px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid #121212;
}

.contact-form {
  position: relative;
  background: var(--tertiaryColour);
  width: 100%;
  margin: 60px auto 35px auto;
  padding: 60px 30px 30px 30px;
  border-radius: 4px;
}

.contact-form .contact-image {
  width: 100px;
  position: absolute;
  margin-left: -50px;
  top: -50px;
  left: 50%;
  background: var(--tertiaryColour);
  border-radius: 100%;
  border: 8px solid white;
}

.contact-form h1 {
    color: var(--black);
    padding-bottom:2rem;
    font-weight:900;
}

.btn-contact {
  margin: 0;
  margin-top: 2rem;
  padding: 4px 15px;
  background: var(--black);
  color: white;
  height: 33px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  width: 100%;
}

.btn-contact:hover {
  background: var(--secondaryColour);
  color: white;
  transition: 1s ease-in-out;
}


.signup-form {
  background: #f8f1e5;
  width: 100%;
  max-width: 600px;
  margin: 60px auto 35px auto;
  padding: 30px;
  border-radius: 4px;
}

.signup-form .signuperror {
  background: #F44336;
  color: white;
  border-radius: 4px;
  padding: 5px 15px;
}

.signup-form .signupsuccess {
  background: #4CAF50;
  padding: 5px 15px;
  border-radius: 4px;
}

.signup-form h2 {
  margin-bottom: 20px;
}

.signup-form form {
  margin: 0;
  padding: 0;
}

.signup-form form .field {
  margin-bottom: 10px;
}

.signup-form form .field label {
  font-weight: bold;
  display: block;
}

.signup-form form .field input[type="text"],
.signup-form form .field input[type="password"] {
  width: 100%;
  height: 40px;
  margin: 0 0 10px;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}



/*About*/
.about {
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 0px !important;
}

.about h1 {
    line-height: 5rem;
    padding-bottom: 1rem;
}

.team-img img {
  width: 100%;
  margin-top: 1rem;
}

.about .stats {
  list-style: none;
  padding: 70px 0px;
}

.stats li {
  margin: 20px 0;
}

.stats .bar {
  background-color: var(--black);
  display: block;
  height: 7px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
}

.stats .bar span {
  height: 6px;
  float: left;
  background: var(--primaryColour);
}

#html {
  width: 98%;
  animation: html 3s;
}

#css {
  width: 95%;
  animation: css 3s;
}

#php {
  width: 70%;
  animation: php 3s;
}

#sql {
  width: 90%;
  animation: sql 3s;
}

#jquery {
  width: 60%;
  animation: jquery 3s;
}

#python {
  width: 40%;
  animation: python 3s;
}

#r {
  width: 50%;
  animation: r 3s;
}

#xamarin {
  width: 40%;
  animation: xamarin 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}


@keyframes r {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}


@keyframes xamarin {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}


#ps {
  width: 98%;
  animation: ps 3s;
}

#ai {
  width: 98%;
  animation: ai 3s;
}

#xd {
  width: 90%;
  animation: xd 3s;
}

#pr {
  width: 80%;
  animation: pr 3s;
}

#ae {
  width: 60%;
  animation: ae 3s;
}


#an {
  width: 60%;
  animation: an 3s;
}


@keyframes ps {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes ai {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes xd {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes pr {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes ae {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes an {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

#spark {
  width: 70%;
  animation: spark 3s;
}

#lua {
  width: 50%;
  animation: lua 3s;
}

#cor {
  width: 50%;
  animation: cor 3s;
}


#proc {
  width: 55%;
  animation: proc 3s;
}


@keyframes spark {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes lua {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes cor {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes proc {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

#sketchup {
  width: 90%;
  animation: sketchup 3s;
}

#dsmax {
  width: 60%;
  animation: dsmax 3s;
}

#blender {
  width: 50%;
  animation: blender 3s;
}


#autocad {
  width: 60%;
  animation: autocad 3s;
}


@keyframes sketchup {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes dsmax {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@keyframes blender {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes autocad {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}





.skills h2 {
    text-transform:uppercase;
    font-weight: bold;
    color: var(--secondaryColour);
}

.row.skills {
    margin: auto 0px;
}

.ethics {
  height: 100vh;
}
.ethics h1 {
    padding-bottom: 1rem;
    margin: auto;
    font-weight: bold;
    font-size: 4rem;
}

.ethics-box {
    margin:auto;
}

.about-hero {
  height: 80vh;
}

.about .intro {
  margin: auto;
  padding-right: 3rem;
}

.about .team-img {
  margin: auto;
}


.ethics-list {
  padding: 100px 0 !important;
  margin: auto;
}

.ethics-list ul {
  list-style: none;
  margin-left: -20px;
  margin-bottom: 20px:
}

.ethics-list li {
  margin-bottom: 20px;
}

/*.ethics-title {
    display: flex;
}*/

.ethics-title i {
    font-size:2rem;
    margin: 1rem;
    color: var(--primaryColour);
}

.ethics-title h5{
    font-weight: bold;
}


.sec-text{
      display: flex;
    flex-direction: column;
    justify-content: center;
}